version: '3'

services:
  gateway:
    build:
      context: ./api/
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    tty:
      true
    depends_on:
      - user
  user:
    build:
      context: ./api/services/user
      dockerfile: Dockerfile
    ports:
      - 50051:50051
    tty:
      true
    depends_on: 
      - user_db
  user_db:
    image: postgres:alpine
    container_name: "user_db"
    environment: 
      POSTGRES_USER: gorm
      POSTGRES_PASSWORD: gorm
      POSTGRES_DB: gorm
      POSTGRES_HOST: user_db
    ports:
      - 5432:5432
  url:
    build:
      context: ./api/services/url
      dockerfile: Dockerfile
    ports:
      - 50052:50052
    tty:
      true
    depends_on: 
      - url_db
  url_db:
    build: 
      context: ./api/services/url/db
      dockerfile: Dockerfile
    container_name: "url_db"
    command: postgres -c port=5433
    environment: 
      POSTGRES_USER: gorm
      POSTGRES_PASSWORD: gorm
      POSTGRES_DB: gorm
      POSTGRES_HOST: url_db
    ports:
      - 5433:5433
